 <html>
 <head>
 <style>
 body{ background-color:#ccc}
 
</style>
</head>
 <body>
<div id="input">
<form method="post" action="../add.php" name="form" align="center">
<h1>Message Board</h1>
<p>Name ：<input type="text" name="name" size="20" class="y" />&nbsp;</p>
<p>Sex ：<input name="sex" type="radio" value="boy" checked/>&nbsp;BOY&nbsp;<input type="radio" name="sex" value="girl"/>&nbsp;GIRL</p>
<p>QQ　：<input type="text" name="qq" class="y" />&nbsp;(可选填)</p>
<p>Email：<input type="text" name="email" class="y" />&nbsp;(可选填)</p>
<p>content：</p>
<p><textarea name="info" rows="5" cols="40"></textarea></p>
<p class="cen">
<input type="submit" value="submit" />
<input type="reset" value="rewrite">
</p>
<p class="cen1">Message board Version 1.0</p>
</form>
</div>
</body>
</html>

